/* common shared styles */
body{
    font-family: 'Open Sans', sans-serif;
}
.text-primary{
    color: #FD6E0A;
}
.btn-primary{
    border-radius: 5px;
background: #FD6E0A;
border: 0;
color: white;
font-size: 20px;
font-weight: 700;
padding: 15px 30px;
}
/* nav related styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}
.nav-tital{
    color: #181818;
font-size: 45px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;

}
nav a{
    text-decoration: none;
    color:#474747 ;
}
/* header related styles */
.header-style{
    background-color: #fff;
}
.banner{
    padding: 30px 70px 0px 150px;
    display: flex;
    align-items: center;
    background-image: url('../images/header_bg.png'); 
    background-repeat: no-repeat;
    background-position: bottom right;
    justify-content: space-between;
    
}
.btn-next{
    background: #FFF8F3;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 700;
    padding: 15px 30px;
    margin-left: 20px;
    border: 1px solid #FD6E0A;
    color: #FD6E0A;
    text-align:center;
    justify-content: center;

}
.icon{
    width: 15px;
    height: 15px;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
}
.banner .profile{
    width: 300px; ;
}
.banner-greeting{
    font-size: 45px;
    color: #474747;
    margin-bottom: 0;
}
.banner-title{
    background-color: #181818;
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}
.banner-description{
    color: #757575;
    max-width: 500px;
    display: flex;
    width: 585px;
    flex-direction: column;
    flex-shrink: 0;;
}
.section-title{
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}
.section-description{
    color: #757575;
    text-align: center;
    font-size: 18px;
}
/* main section styles */

main{
    max-width: 1140px;
    margin: 0 auto;
}
main section{
    margin-top:130px ;
}
/* about section styles */
.about{
    padding: 130px;
    border-radius: 10px;
    background-color: #FFF8F3;
    margin: 130px 0;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about-info{
    text-align: center;
}

/* skills related styles */
#what-i-do{
    padding: 30px 150px;
}
.skills-container{
    display: flex;
    gap: 24px;
}
.skill{
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    width: 200px;
    height: 300px;
    flex-shrink: 0;
    padding: 30px 33px;
    margin: 0 auto;
}
.skill-title{
    color: var(--dark-01, #181818);
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
}
.skill-description{
    display: flex;
    width: 201px;
    flex-direction: column;
    flex-shrink: 0;
    color: var(--dark-03, #757575);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}
/* resume section styles */
.resume-colum-title{
    color: #474747;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;
}
.resume-container{
    display:flex;
    gap: 60px;
}

.resume-item-inistitute{
    margin-bottom: 20px;
    margin-top: 0;
}
.resume-item-description, .resume-item-inistitute{
    color:#757575 ;
}
.resume-item-title{
    color: #474747;
    font-size: 25px;
    font-weight: 700;
}
.resume-container hr{
    margin: 30px;
}
.download-cv{
    justify-content: center;
    text-align: center;
    margin-top: 50px;
}

/* footer styles */
footer{
    display: flex;
    gap: 100px;
    background-color: #FFF8F3;
    padding: 130px 200px;
    margin-top: 100px;
}
.footer-colum{
    width: 50%;
}
#fs{
    text-align: left;
}
.social-link{
    display: flex;
    gap: 24px;
    margin-top: 30px;
}
.footer-title{
    text-align: left;
}
.contact input[type="text"], input[type="email"], textarea{
    display: block;
    margin-bottom: 25px;
    padding: 18px 35px;
    color: #757575;
    background-color: #FFF;
    border: 0;
    border-radius: 5px;
    width: 65%;

}